PORT = 
MONGO_URI = 
ACCESS_SECRET =
REFRESH_TOKEN_SECRET =
ACCESS_EXPIRES_IN = 
REFRESH_EXPIRES_IN = 
SALT_ROUNDS=
FRONTEND_BASE_URL=
GITHUB_TOKEN=
GITHUB_AI_MODEL=openai/gpt-4.1
GITHUB_AI_ENDPOINT=https://models.github.ai/inference
